<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
</style>

<div>
  Projet réalisé par GIRAUD Alex et DEMOULIN Florian <br>
  Etudiants Master 2 Intense <br>
  Miage Nice
</div>

<app-chanteur [chanteur] = "chanteursMostBands"></app-chanteur> 
<app-artist-most-album [artistWithMostAlbum] = "artistWithMostAlbum"></app-artist-most-album>
<app-all-songs-of-all-albums-of-eminem [allSongsOfAllAlbumsOfEminem] = "allSongsOfAllAlbumsOfEminem"></app-all-songs-of-all-albums-of-eminem>
