<h1>{{hobbies.name}}</h1>
<h2>Albums : </h2>
<p>Nombre d'albums : {{hobbies.albums.length}}</p>

<p>{{hobbies.albums[0].title}} {{hobbies.albums[0].publicationDate}}</p>
<p>{{hobbies.albums[1].title}} {{hobbies.albums[1].publicationDate}}</p>
<p>{{hobbies.albums[2].title}} {{hobbies.albums[2].publicationDate}}</p>
<p>{{hobbies.albums[3].title}} {{hobbies.albums[3].publicationDate}}</p>
<p>{{hobbies.albums[4].title}} {{hobbies.albums[4].publicationDate}}</p>
<p>{{hobbies.albums[5].title}} {{hobbies.albums[5].publicationDate}}</p>
<p>{{hobbies.albums[6].title}} {{hobbies.albums[6].publicationDate}}</p>
<p>{{hobbies.albums[7].title}} {{hobbies.albums[7].publicationDate}}</p>
<p>{{hobbies.albums[8].title}} {{hobbies.albums[8].publicationDate}}</p>
<p>{{hobbies.albums[9].title}} {{hobbies.albums[9].publicationDate}}</p>
<p>{{hobbies.albums[10].title}} {{hobbies.albums[10].publicationDate}}</p>
<!-- <p>{{hobbies.albums[11].title}} {{hobbies.albums[11].publicationDate}}</p>
<p>{{hobbies.albums[12].title}} {{hobbies.albums[12].publicationDate}}</p> -->